<footer class="pt-4 my-md-5 pt-md-5">
    <div class="footer-bg">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="/posts" class="nav-link px-2 text-muted">Новости</a></li>
            <li class="nav-item"><a href="/about-us" class="nav-link px-2 text-muted">О нас</a></li>
            <li class="nav-item"><a href="/services" class="nav-link px-2 text-muted">Услуги</a></li>
            <li class="nav-item"><a href="/questions" class="nav-link px-2 text-muted">Задать вопрос</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Ляхов А.А.</p>
    </div>
</footer>