<section class="block__post">
    <div class="block__post__inner">
        <div class="row">
            <div class="col">
                <img src="" alt="" class="img-to-post rounded float-start">
            </div>
            <div class="col">
                <div class="block__post-text">
                    <h4 class="post__title border-bottom">
                        <%= post.title %>
                    </h4>
                    <br>
                    <h5 class="post__description-title">Описание:</h5>
                    <div class="block__post-text-des">
                        <p class="post__description border-bottom">
                            <%= post.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>