<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>web.ru | Авторизация</title>
    <link rel="stylesheet" href="../../public/css/admins.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Посты
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Добавить</a></li>
                            <li><a class="dropdown-item" href="#">Изменить</a></li>
                            <li><a class="dropdown-item" href="#">Удалить</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Все посты</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Вопросы
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Ожидание</a></li>
                            <li><a class="dropdown-item" href="#">В работе</a></li>
                            <li><a class="dropdown-item" href="#">Закрытые</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="ms-auto btn btn-outline-danger">Выход</button>
            </div>
        </div>
    </nav>


    <section class="statistics">
        <div class="container border-bottom pb-3">

            <div class="stats row clearfix">
                <h4 class="border-bottom">Статистика:</h4>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="panel post p-2 text-start bg-info  text-white">
                        <div class="icon">
                            <i class="bi bi-book"></i>
                        </div>
                        <div class="text">
                            <p>Постов добваленно: 111</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="panel tiket p-2 text-start bg-danger text-white ">
                        <div class="icon">
                            <i class="bi bi-bell"></i>
                        </div>
                        <div class="text">
                            <p>Тикитов доступно: 12</p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="panel new-user p-2 text-start bg-success text-white">
                        <div class="icon">
                            <i class="bi bi-person-check"></i>
                        </div>
                        <div class="text">
                            <p>Новых пользывателей: 777</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="panel vesit p-2 text-start bg-warning text-white">
                        <div class="icon">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="text">
                            <p>Визиты на сайт: 999</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <main>
        <div class="container">

            <div class="main-block-social row">

                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="todo-list bg-warning">
                        <p>todo:</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="users-online bg-warning">
                        <p>users:</p>
                    </div>
                </div>



                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 pt-3">
                    <div class="news bg-warning">
                        <p>news:</p>
                    </div>
                </div>


            </div>

            <div class="">
                <div class="chat-member bg-warning">
                    <p>chat:</p>




                </div>
            </div>


            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>