.body {
    background-color: #fff;
}

/*stats*/
.icon {
    text-align: center;
    font-size: 40px;
}

.panel {
    font-weight: 500;
    border-radius: 2rem;
}

    
/*main*/
.main-block {
    justify-content: space-between;
    align-items: center;
}



/*chat*/